body {
    background-image: url(../images/backgroundImg.jpg);
    /* Photo by trashhand from Pexels */
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: 100%;
    width: 80%;
    margin: 0 auto; 
    margin-top: 1%;
    color: white;
     
}

.jumbotron {
    text-align: center;
    color: gray;
}

.btn {
    margin-bottom: 5%;
}

footer {
background-color: #78C2AD;
text-align: center;
padding-top: 20px;
padding-bottom: 30px;
width: 125%;
margin-left: -12.5%;
}
